<div class="title-container">
  <h1>Your play has been analyzed!</h1>
  <p>Here is how many lines each character speaks in <em><%= @title %></em></p>
</div>

<div id="graph-container"></div>

<script>
  ANALYZER.renderGraph('graph-container');
</script>
